/*********** HEADER ************/

#banner {
    align-items: center;
    padding: 20px;
}

#banner a {
    position: relative;
    top: -70px;
    width: 400px;
    padding: 0px 18px;
    left: 280px;
    color: #342E33;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-align: left;
    text-decoration: none
}

.logo {
    height: 150px;
    min-width: 1400px;
    width: 100vw;
    height: auto;
    object-fit: fill;
}

.icon {
    width: 24px;
    position: absolute;
    top: -135px;
    left: 990px;
    height: auto;
    object-fit: fill;
}

main {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: repeat(1, 450px);
    grid-gap: 20px;
    margin-top: 100px;
    grid-auto-rows: 500px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-auto-flow: column;
}

h2 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: left;
    color: grey;
    padding: 0px 0px 0px 0px;
}

h3 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center;
    color: grey;
    padding: 10px 10px 10px 10px;
}

h4 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.3px;
    text-align: center;
    color: grey;
    padding: 10px 10px 10px 10px;
}

img {
    width: 100%;
    height: 150px
}

.label {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.3px;
    color: grey;
}

.price {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.3px;
    color: grey;
}

.recipe {
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 220px;
}

.time {
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    width: 20px;
    height: auto;
}

.mins {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: right;
    color: dark grey;
    position: relative;
    bottom: 5px;
    right: 5px;
}

.description {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: 0.1px;
    text-align: left;
    color: #4a4a4a;
    padding: 10px 0px 10px 10px;
    border-top: 1px solid #4a4a4a;
}

.container {
    min-width: 500px;
    margin: auto;
}

form {
    align-content: left;
    position: fixed;
    text-align: left;
    line-height: 30px;
    height: 80%;
    overflow: auto;
    width: 20%;
    margin: 0px 50px 50px 50px;
    padding: 10px 10px 10px 40px;
    height: 70vh;
    display: inline-block;
    background-color: #F7F7FA
}

form hr {
    width: 15%;
}

#Overlay form {
    align-content: right;
    position: absolute;
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
    width: 20%;
    margin: 100px 50px 100px 700px;
    padding: 10px 10px 10px 40px;
    height: 70vh;
    display: inline-block;
    background-color: #F7F7FA
}

#Overlay form hr {
    width: 15%;
}

#Detail main {
    margin-top: 80px;
    margin-left: 5px;
    grid-auto-rows: 20px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: left;
    grid-auto-flow: column;
}

button {
    font-family: Montserrat;
    background-color: white;
    padding: 5px 5px 5px 5px;
}

.button2 {
    font-family: Montserrat;
    font-size: 16px;
    color: white;
    background-color: #E89F71;
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
}

.Label {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.3px;
    text-align: center;
    color: grey;
}

.Colors {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.3px;
    text-align: center;
    color: grey;
}

.Size {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.3px;
    text-align: center;
    color: grey;
}

.Recipe {
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.1);
    margin: 0px 0px 0px 200px;
    width: 400px;
    height: 440px;
    align-content: left;
}

.shoppingbag img {
    height: 150px;
}

.item2-img {
    height: 100px;
    margin: 10px;
    width: 220px;
}

.item2 {
    width: 800px;
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 200px;
    margin-left: 50px;
    border-radius: 25px;
}

.checkout {
    width: 300px;
    height: 250px;
    position: relative;
    top: 500px;
    right: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.checkout .text {
    margin: 25px;
    font-size: 16px;
}

.cart-item {
    height: 80px;
    margin: 30px;
}

.cart-item h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.emptyHead {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center;
    color: grey;
    padding: 10px 10px 10px 10px;
}

#cart-number {
    position: relative;
    top: -240px;
    right: -1290px;
    font-family: roboto;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #F9F7F8;
    background-color: #504741;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    padding-bottom: 5px;
    border: none;
}

.cartInfo {
    display: relative;
    flex-direction: row;
    background-color: #fffaef;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 25px;
}

.main2 {
    display: relative;
    grid-template-columns: 250px 250px;
    grid-template-rows: repeat(4, 250px);
    grid-gap: 20px;
    margin-top: 100px;
    margin-left: 500px;
    grid-auto-rows: 250px;
    justify-items: right;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-auto-flow: row;
}